body {
	font-family: 'Montserrat';
}
.row {
	margin: 0px;
}
.container-fluid {
	padding: 0px;
	position: relative;
}
.orchid-nav.navbar-default {
	background-color: rgba(69,51,75,1);
	border: 0px;
	padding: 40px 3% 0% 4%;
	margin-bottom: 0px;
	font-size:1.1em;
	border-radius: 0px;
}
.nav.navbar-nav li.active a {
	background-color: rgba(220,163,19,0.8);
}
.orchid-nav .navbar-header {
	padding-bottom: 15px;
	margin-top:-5px;
}
.orchid-nav .navbar-brand {
	margin: 0px !important;
	padding: 0px;
}
.orchid-nav .navbar-brand h1{
	font-size: 2.5em;
	margin: 0px;
	font-variant: small-caps;
}
.orchid-nav a {
	color: rgba(255,255,255,1) !important;
}
div.row.footer h3:after{
	content: " ";
	width:100px;
	position: absolute;
	top: 100%;
	display: block;
	border-bottom: 3px solid rgba(220,163,19,1);
}
div.row.footer {
	background-color: rgba(69,51,75,1);
	color: rgba(255,255,255,1);
	position: relative;
	z-index: 2;
	padding: 5% 10%;
}
div.row.footer h3 {
	position: relative;
	padding-bottom: 5px;
}